@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: hsl(234, 29%, 20%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  display: flex; /*centrar la caja principal*/
  justify-content: center; /* Alineación horizontal*/
  align-items: center; /* Alineación vertical */

  height: 100vh;/*es toda la parte visble del navegador - 100%*/
}

main {
  background-color: hsl(0, 0%, 100%);

  width: 800px;
  min-height: 500px;

  border-radius: 32px; /*es  para redonderar la caja de texto*/

  /* padding: 24px; */
  /* padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 48px; */

  padding: 24px 24px 24px 48px; /*es el margen de todos los lados de nuestra caja principal*/

  display: flex; /*para que uno parte de vaya uno al lado del otro*/
}

.content {
  /* border: 1px solid red; */

  width: 400px; /*definir el tamaño del texto*/

  padding-right: 64px; /*esoaciado a la derecha*/

  color: hsl(235, 18%, 26%);
}

.content h1 {
  margin: 0;
  margin-top: 48px;

  font-size: 48px;
  font-weight: 700;
  color: hsl(235, 18%, 26%);
}

.content p {
  font-weight: 400;
}

.content form {
  display: flex;
  flex-direction: column;/*para q se cob¿vierta en columna*/
  gap: 16px; /*separacion entre elementos*/
}

.content label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 8px; /*separacion entre elementos*/
}

.content input {
  border: 1px solid hsl(231, 7%, 60%);
  padding: 16px;/*es para hacer un  espacio*/
  border-radius: 8px;
}

.content input[type=submit] {
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer; /*parq q el puntero se ponga como manito*/
}

.photo {
  /* border: 1px solid blue; */

  width: 350px;

  background-image: url('./assets/images/illustration-sign-up-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
}



/*
TODO: Terminar el diseño de la newsletter 
Tiempo: 20 minutos
- Empezamos a las 8:05pm
- Terminamos a las 8:25pm
*/